[color]
 mbranch = auto
 diff = auto
 interactive = auto
 status = auto

[diff]
 tool = opendiff

[merge]
 tool = opendiff 

[alias]
 logg = log --pretty='%Cblue%H%Creset | %Cgreen%an%Creset | %C(white)%cr%Creset | %C(cyan)%s%Creset'
 loggg = log  --graph --color --pretty='format:%C(yellow)%h%C(cyan)%d %Creset%s %C(blue)%an, %ar' --date-order
 st = status --short
 co = checkout
 cm = commit -m

[credential]
 helper = osxkeychain
[push]
	default = simple
